:root{--swiper-theme-color:rgb(0, 171, 85) !important;}

a {
    text-decoration: none;
    color: #f0f0f0;
}

.swiper-button-next,
.swiper-button-prev {
    width: 25px;
    height: 25px;
    margin: 0 5px 10px 5px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 171, 85);
    background-color: #212b36;
    float: left;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0.50;
    cursor: auto;
    pointer-events: none;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;
    /*font-size: var(--swiper-navigation-size);*/
    font-size: 12px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 10px;
    right: auto;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: "prev";
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: "next";
}
.swiper-button-lock {
    display: none;
}
